In [14]:
#replace it with sharepoint excel loc
excel_loc = r'C:\Users\user\Downloads\Food Providers List.xlsx'

In [15]:
import pandas as pd
excel_data = pd.read_excel(excel_loc, sheet_name='Food Providers across India',header =1)

excel_data

In [16]:
excel_data['City*']=excel_data['City*'].str.strip().fillna('')
excel_data['Location']=excel_data['Location'].str.strip().fillna('')
excel_data['Verified']=excel_data['Verified'].fillna('N')

In [17]:
db_mapper = pd.DataFrame(columns = ['time','tweet_id','name','tweet','tweet_location','tweet_type','verified','notes'])

In [18]:
import datetime
for index,rows in excel_data.iterrows():
    db_mapper.loc[index,'time']=datetime.datetime.now()
    db_mapper.loc[index,'tweet_id']=10000 + index
    db_mapper.loc[index,'name']='Cargill_CMT'
    db_mapper.loc[index,'tweet_location']=excel_data.loc[index,'City*']
    db_mapper.loc[index,'tweet_type']='cmt_volunteers'
    db_mapper.loc[index,'verified']=excel_data.loc[index,'Verified']
    db_mapper.loc[index,'notes']=excel_data.loc[index,'Notes']

    
db_mapper['tweet']= 'Name of the Supplier*:' + excel_data['Name of the Supplier*'] +" " + '  Phone Number*:' + excel_data['Phone Number*'].astype(str)+ " " + '  Location:'+ excel_data['Location'] + " " + '  City:'+ excel_data['City*']
#+ " " + '<br>Verified:'+ excel_data['Verified']
db_mapper['notes']=db_mapper['notes'].fillna('')
db_mapper['tweet_location']=db_mapper['tweet_location'].fillna('')
db_mapper['verified']=db_mapper['verified'].fillna('')

db_mapper

In [19]:
!pip install mysql.connector
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='sql129.main-hosting.eu', 
                           database='u291509283_cargill', user='u291509283_cargill', 
                           password='Cargill123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        del_sql = "DELETE FROM `Tweet_data` WHERE name='Cargill_CMT'"
        cursor.execute(del_sql)
        conn.commit()
        print("Delete share-point data")
        for index, row in db_mapper.iterrows():
            sql = "INSERT INTO u291509283_cargill.Tweet_data (time,tweet_id,name,tweet,tweet_location,tweet_type,verified,notes) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
        
except Error as e:
    print("Error while connecting to MySQL", e)

Collecting mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector
You're connected to database:  ('u291509283_cargill',)
Delete share-point data
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted