In [1]:
import tweepy,json
access_token="2427460241-yihCbhCrkA6QrS7mhtwkK9FCnoKMvZzPNRFEtYr"
access_token_secret="p6dTQRMwy0SxVP49oHLUXeJ1L4T2cDqPM4RNlcEPErJ9X"
consumer_key="3nHkUhoqNif1x64w2gN7UxfPD"
consumer_secret="SD0qR7yWtUdGDqYxPcUpyNsRcMsX5MJB9z4MxjVKyq6VYwvDp0"
auth= tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth)

In [2]:
search_terms = ['home-cooked food for corona patients','home cooked food for corona patients','homemade food for corona patients','food for corona patients','food for covid patients', 'covid food delivery', 'covid free home cooked food delivery','homemade food covid','homemade food corona','home-cooked food covid','home-cooked food corona','home cooked food covid','home cooked food corona']
data = [] 
def stream_tweets(search_term):
    counter = 0 
    for tweet in tweepy.Cursor(api.search, q='\"{}\" -filter:retweets'.format(search_term), count=100, lang='en', tweet_mode='extended').items():
        tweet_details = {}
        tweet_details['time'] = str(tweet.created_at)
        tweet_details['id'] = tweet.id
        tweet_details['name'] = tweet.user.screen_name
        tweet_details['tweet'] = tweet.full_text
        tweet_details['retweets'] = tweet.retweet_count
        tweet_details['location'] = tweet.user.location
        tweet_details['created'] = tweet.created_at.strftime("%d-%b-%Y")
        tweet_details['followers'] = tweet.user.followers_count
        tweet_details['is_user_verified'] = tweet.user.verified
        data.append(tweet_details)
        counter += 1
        if counter == 1000:
            break
        else:
            pass
    with open('data.json', 'w') as f:
        json.dump(data, f)
    print('done!')

In [3]:
if __name__ == "__main__":
    print('Starting to stream...')
    for k in search_terms:
        stream_tweets(k)
    print('finished!')

Starting to stream...
done!
done!
done!
done!
done!
done!
done!
done!
done!
done!
done!
done!
done!
finished!

In [4]:
#converting to csv for simplicity
import pandas as pd
df = pd.read_json('data.json')

df.to_csv('data_tweet.csv',index=None)

In [5]:
import pandas as pd
Data = pd.read_csv('data_tweet.csv',index_col=False)


Data1 = Data.where(pd.notnull(Data), None)

Data1.head()

,time,id,name,tweet,retweets,location,created,followers,is_user_verified
0,2021-05-03 09:32:46,1389150935792766979,DeepakT29274872,@SonuSood Free Food For \nCorona patients in N...,2,None,03-May-2021,2293,False
1,2021-05-03 09:30:54,1389150466303356928,DeepakT29274872,Free Food For \nCorona patients in Noida... ht...,1,None,03-May-2021,2293,False
2,2021-05-02 06:06:17,1388736583138889736,sv99999999,üôè\n#Covid19\n#Karnataka\n#Bengaluru \n#coronav...,1,India,02-May-2021,236,False
3,2021-04-30 07:00:47,1388025520823042055,Iamsainani,Free food for corona patients in vijayawada \n...,1,Khammam,30-Apr-2021,579,False
4,2021-04-28 15:58:33,1387436082208280579,Robojohn11,Ground Report - TamiNadu Govt Hosp's - Food wh...,1,"Chennai, India",28-Apr-2021,234,False

In [6]:
import spacy
from spacy import displacy 
# nlp = spacy.load('en_core_web_sm')

In [7]:
nlp_wk = spacy.load('xx_ent_wiki_sm')

In [8]:
import en_core_web_sm
nlp = en_core_web_sm.load()

In [9]:
import re
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\u2710-\u2900"
#         u"\u2757"
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)

In [10]:
lower = lambda x: x.lower()
cap = lambda x: x.title()
bad_chars=['#','!','@']
replace=lambda x:[''.join(i for i in x if not i in bad_chars)]
remove_emoji=lambda x:deEmojify(x)

In [11]:
# df = pd.DataFrame(Data1['tweet'].apply(lower))
# df = pd.DataFrame(Data1['tweet'].apply(cap))
df = pd.DataFrame(Data1['tweet'].apply(replace))
df['tweet']=df['tweet'].str.get(0)
df = pd.DataFrame(df['tweet'].apply(remove_emoji))
df.columns = ['text']

In [12]:
df

                                                  text
0    SonuSood Free Food For \nCorona patients in No...
1    Free Food For \nCorona patients in Noida... ht...
2    \nCovid19\nKarnataka\nBengaluru \ncoronavirus\...
3    Free food for corona patients in vijayawada \n...
4    Ground Report - TamiNadu Govt Hosp's - Food wh...
..                                                 ...
265  Food for Covid patients for free May try this ...
266  covidmealsforindia \n\nFree Food for Covid pat...
267  Someone has put this google doc with contact i...
268  If anybody wants home cooked food (COVID nutri...
269  If anybody wants home cooked food (COVID nutri...

[270 rows x 1 columns]

In [13]:
def extract_named_ents(text):
    return [ent.text for ent in nlp(text).ents if ent.label_ == 'GPE']

def add_named_ents(df):
    df['named_ents'] = df['text'].apply(extract_named_ents)

In [14]:
add_named_ents(df)

In [15]:
df['named_ents'] = df['named_ents'].str.get(0)
df = df.where(pd.notnull(df), "")

In [16]:
df

                                                  text   named_ents
0    SonuSood Free Food For \nCorona patients in No...        Noida
1    Free Food For \nCorona patients in Noida... ht...        Noida
2    \nCovid19\nKarnataka\nBengaluru \ncoronavirus\...
3    Free food for corona patients in vijayawada \n...
4    Ground Report - TamiNadu Govt Hosp's - Food wh...  Kanyakumari
..                                                 ...          ...
265  Food for Covid patients for free May try this ...
266  covidmealsforindia \n\nFree Food for Covid pat...
267  Someone has put this google doc with contact i...
268  If anybody wants home cooked food (COVID nutri...
269  If anybody wants home cooked food (COVID nutri...

[270 rows x 2 columns]

In [17]:
df['named_ents']=df['named_ents'].apply(cap)
df

                                                  text   named_ents
0    SonuSood Free Food For \nCorona patients in No...        Noida
1    Free Food For \nCorona patients in Noida... ht...        Noida
2    \nCovid19\nKarnataka\nBengaluru \ncoronavirus\...
3    Free food for corona patients in vijayawada \n...
4    Ground Report - TamiNadu Govt Hosp's - Food wh...  Kanyakumari
..                                                 ...          ...
265  Food for Covid patients for free May try this ...
266  covidmealsforindia \n\nFree Food for Covid pat...
267  Someone has put this google doc with contact i...
268  If anybody wants home cooked food (COVID nutri...
269  If anybody wants home cooked food (COVID nutri...

[270 rows x 2 columns]

In [18]:
urls_list=[]
for tweet in Data['tweet']:
    urls = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', tweet)
    st =  ",".join(urls)
    urls_list.append(st)
    for url in urls:
        try:
            res = urllib2.urlopen(url)
            actual_url = res.geturl()
            print(actual_url)
        except:
            print(url)

https://t.co/kLEfjEnCuc
https://t.co/hh7CSq4dkl
https://t.co/hRZfxKK2XU
https://t.co/uP4KbY2TLP
https://t.co/GbxzFiJEPv
https://t.co/GhKwNTRmC2
https://t.co/22UrhyxTdk
https://t.co/sm4Cf3ZQ4v
https://t.co/oBEcdNBBwN
https://t.co/vaYL3cLbgP
https://t.co/JUAOSE2KQ5
https://t.co/hfiWQ1lekR
https://t.co/bfH3uuDVlr
https://t.co/6Ko7Evkn8k
https://t.co/NbjEXlBVMh
https://t.co/A1hFuO8iJ3
https://t.co/fGqwlg1YFa
https://t.co/lGGE87sYOb
https://t.co/6QU6SbMc5U
https://t.co/6YofQ2nUKO
https://t.co/c6EuJEw6yk
https://t.co/76IRFEP7bB
https://t.co/EcayCJiEoa
https://t.co/KeF1z4jwa6
https://t.co/NifpEvUttD
https://t.co/Mn4czQI8Ns
https://t.co/aKB4SPIsQL
https://t.co/qyfvowX7I9
https://t.co/wg40qOJztH
https://t.co/4N2ei68D39
https://t.co/ipQo8d1ZMg
https://t.co/xb8BiNUHAy
https://t.co/2YzRweUPob
https://t.co/2YzRweUPob
https://t.co/2YzRweUPob
https://t.co/ZEAD4IQ6q5
https://t.co/XB5MnZO0pl
https://t.co/NyLze1zVFz
https://t.co/itWgiZ1uMT
https://t.co/e2niBUxars
https://t.co/auDPVM7us9
https://t.co/tkQVJYudRr
https://t.co/2H0ejm6M3W
https://t.co/hNeqtyCEXE
https://t.co/JnzNAIhFKp
https://t.co/aJDnRO69X7
https://t.co/P3SMxJyVdz
https://t.co/xrEhMxdcJY
https://t.co/IWoUacuEnD
https://t.co/1thtcAObvd
https://t.co/9FR5TzdwZ1
https://t.co/GvEM7bHNhL
https://t.co/h5nNfuvBAl
https://t.co/INTdL4uaRQ
https://t.co/Uev5s1OuYf
https://t.co/qkskekWHCP
https://t.co/uJ0bOCAKUX
https://t.co/reFNWYKznM
https://t.co/gIttqNPP46
https://t.co/KzQL6OYTP6
https://t.co/BTeBGoahKT
https://t.co/M9CNF9lXeT
https://t.co/EORvO0pVud
https://t.co/poO42BkAyf
https://t.co/bkowW8XMpQ
https://t.co/oOxN3EB2Ol
https://t.co/DuvltYzYS5
https://t.co/Bgs6KMCxFh
https://t.co/Y9b6wSAEEu
https://t.co/MGBqf0gSji
https://t.co/fROgQCH3RT
https://t.co/duAlA964VE
https://t.co/kcMzU8zgcR
https://t.co/dzzugJbfwu
https://t.co/ipQo8d1ZMg
https://t.co/bzIFtPaSqM
https://t.co/LlYHonwgGt
https://t.co/7f33LU5Hui
https://t.co/X0gSfWt9PK
https://t.co/jRgSehiCeW
https://t.co/NY0dJPDJuh
https://t.co/ni97vZzo6Q
https://t.co/SYcZDyZCeI
https://t.co/zUjsrqe6YR
https://t.co/awqy3qFGMc)
https://t.co/GK32Sno5if
https://t.co/oPz16AFaVV
https://t.co/1jZ2W7Qf4o
https://t.co/oQYHDZTwZL
https://t.co/ZeWxme9zML
https://t.co/z3xyaT8bvt
https://t.co/t6SvsdBJaM
https://t.co/L9kryKNgdJ
https://t.co/6v133QE5nz
https://t.co/R96wnjtBby
https://t.co/FdlzHbBgDg
https://t.co/Aytg2R2DuA
https://t.co/mPPJpdg8wK
https://t.co/FBp3Us1Ndh
https://t.co/7zVVjADP0B
https://t.co/nBjSagzxZ7
https://t.co/i0NniH5RHH
https://t.co/rs0lKpTyTo
https://t.co/1mFCpNtWD3
https://t.co/e26b8aO2dB
https://t.co/2uJQ0h85sX
https://t.co/ea6k3VTRHD
https://t.co/IFo3hqDPsG
https://t.co/W8ZnjdRLrc
https://t.co/Bzb58pmJhk
https://t.co/pbP1eCYS9U
https://t.co/hBGkqNEKRK
https://t.co/t5Pr1LGXvN
https://t.co/9yp0GIQJPy
https://t.co/hdGIdJUQFB
https://t.co/Xgr6UlyBBX
https://t.co/OHAZLDxE8d
https://t.co/Gfcg8MBls9
https://t.co/qaE52rPjGs
https://t.co/XuTXEYPgtC
https://t.co/67cByDxNUG
https://t.co/R0A9qzxsio
https://t.co/9QIhOPftg8
https://t.co/okrhjrxL8c
https://t.co/JplBiIVqNN
https://t.co/bIQLACbued
https://t.co/20ZvFwdVRl
https://t.co/4rh5PSPj3l
https://t.co/50nMIJ5IJ2
https://t.co/pkDCPFDSSR
https://t.co/I95uMfhOFj
https://t.co/BJqPEeEHDa
https://t.co/WeSSKPydiB
https://t.co/bCi4b0NJaq
https://t.co/N5ASc2xabi
https://t.co/llPds8gu2Q
https://t.co/hh4rD00pxS
https://t.co/kWmHmheYlp
https://t.co/2IYlVORj6u
https://t.co/wJjxo40DBT
https://t.co/yGraMNqrp8
https://t.co/UQ5xiRbaZW
https://t.co/Oo3sG5yzIb
https://t.co/f8uP864vWj
https://t.co/1V2Hqseiim
https://t.co/aPttSbIxgU
https://t.co/hTM5Eq5PgT
https://t.co/1TTux6qlAN
https://t.co/ruOhoNWTr7
https://t.co/4cOqeY3yEo
https://t.co/JuUrxggwQZ
https://t.co/VVrW6T3IEr
https://t.co/SXT9WrQXII
https://t.co/4u89VGjMTC
https://t.co/pbKiuTIY7h
https://t.co/lf9oszG4N2
https://t.co/f0JH7F661k
https://t.co/iHRnl6PGBL
https://t.co/sqT2zdnyXO
https://t.co/ATZnAJprTx
https://t.co/PoHj81lqlH
https://t.co/FvVfL4U0Fa
https://t.co/0muC1qeF5V
https://t.co/7e0CKH9KZD
https://t.co/kkWfgniVkC
https://t.co/JFf6deC3CL
https://t.co/INGv3BVzzJ
https://t.co/kMtyK8Xp2Q
https://t.co/fc19QEJh1T
https://t.co/k5BhPBvQ8q
https://t.co/t8KyPbwGu5
https://t.co/3jV8d0nWbv
https://t.co/YuphIHNJLi
https://t.co/A68qgXYX4s
https://t.co/KB2Hja9M3n
https://t.co/Yzps9BNnTk
https://t.co/UsMDvHeCxr
https://t.co/lZROnCIrfe
https://t.co/Gbt6yZwMoM
https://t.co/sWgpfnHrSr
https://t.co/pMztFyVGHs
https://t.co/sFdrlrkuJV
https://t.co/6J9L7wF1mj
https://t.co/FGHZm13t5U
https://t.co/u8sdSdxRbJ
https://t.co/W9MdpKOYNq
https://t.co/Im8PLixm21
https://t.co/GCNq9EVDBs
https://t.co/U4DmMbdVaJ
https://t.co/OoXGXP1KEA
https://t.co/C24LWZqbeF
https://t.co/HrRxnsblF8
https://t.co/Ukglo1MHvd
https://t.co/XyI2I6sVrR
https://t.co/H3YFQ5UO2p
https://t.co/MSXtzf29fD
https://t.co/v2r1NUq9fT
https://t.co/Vr8xKGjGqs
https://t.co/8y5z1zoZEd
https://t.co/PFSomY4py8
https://t.co/Uytmv5rYHx
https://t.co/FgY4wpdauK
https://t.co/nwVgZHQiFO
https://t.co/nwVgZHQiFO

In [19]:
Data1['Urls'] = urls_list

In [20]:
for urls in Data1['Urls']:
    print(urls)
#     print('b')

https://t.co/kLEfjEnCuc
https://t.co/hh7CSq4dkl
https://t.co/hRZfxKK2XU
https://t.co/uP4KbY2TLP

https://t.co/GbxzFiJEPv
https://t.co/GhKwNTRmC2
https://t.co/22UrhyxTdk
https://t.co/sm4Cf3ZQ4v
https://t.co/oBEcdNBBwN
https://t.co/vaYL3cLbgP
https://t.co/JUAOSE2KQ5
https://t.co/hfiWQ1lekR
https://t.co/bfH3uuDVlr
https://t.co/6Ko7Evkn8k
https://t.co/NbjEXlBVMh

https://t.co/A1hFuO8iJ3

https://t.co/fGqwlg1YFa


https://t.co/lGGE87sYOb,https://t.co/6QU6SbMc5U
https://t.co/6YofQ2nUKO
https://t.co/c6EuJEw6yk
https://t.co/76IRFEP7bB
https://t.co/EcayCJiEoa
https://t.co/KeF1z4jwa6

https://t.co/NifpEvUttD
https://t.co/Mn4czQI8Ns

https://t.co/aKB4SPIsQL
https://t.co/qyfvowX7I9
https://t.co/wg40qOJztH



https://t.co/4N2ei68D39
https://t.co/ipQo8d1ZMg,https://t.co/xb8BiNUHAy

https://t.co/2YzRweUPob
https://t.co/2YzRweUPob
https://t.co/2YzRweUPob



https://t.co/ZEAD4IQ6q5


https://t.co/XB5MnZO0pl


https://t.co/NyLze1zVFz,https://t.co/itWgiZ1uMT
https://t.co/e2niBUxars



https://t.co/auDPVM7us9
https://t.co/tkQVJYudRr
https://t.co/2H0ejm6M3W
https://t.co/hNeqtyCEXE

https://t.co/JnzNAIhFKp
https://t.co/aJDnRO69X7

https://t.co/P3SMxJyVdz
https://t.co/xrEhMxdcJY
https://t.co/IWoUacuEnD
https://t.co/1thtcAObvd
https://t.co/9FR5TzdwZ1

https://t.co/GvEM7bHNhL
https://t.co/h5nNfuvBAl






https://t.co/INTdL4uaRQ,https://t.co/Uev5s1OuYf,https://t.co/qkskekWHCP
https://t.co/uJ0bOCAKUX
https://t.co/reFNWYKznM

https://t.co/gIttqNPP46
https://t.co/KzQL6OYTP6
https://t.co/BTeBGoahKT
https://t.co/M9CNF9lXeT
https://t.co/EORvO0pVud
https://t.co/poO42BkAyf
https://t.co/bkowW8XMpQ

https://t.co/oOxN3EB2Ol
https://t.co/DuvltYzYS5
https://t.co/Bgs6KMCxFh,https://t.co/Y9b6wSAEEu
https://t.co/MGBqf0gSji,https://t.co/fROgQCH3RT
https://t.co/duAlA964VE
https://t.co/kcMzU8zgcR
https://t.co/dzzugJbfwu
https://t.co/ipQo8d1ZMg,https://t.co/bzIFtPaSqM
https://t.co/LlYHonwgGt

https://t.co/7f33LU5Hui


https://t.co/X0gSfWt9PK,https://t.co/jRgSehiCeW
https://t.co/NY0dJPDJuh
https://t.co/ni97vZzo6Q
https://t.co/SYcZDyZCeI

https://t.co/zUjsrqe6YR

https://t.co/awqy3qFGMc),https://t.co/GK32Sno5if

https://t.co/oPz16AFaVV


https://t.co/1jZ2W7Qf4o

https://t.co/oQYHDZTwZL
https://t.co/ZeWxme9zML
https://t.co/z3xyaT8bvt,https://t.co/t6SvsdBJaM,https://t.co/L9kryKNgdJ,https://t.co/6v133QE5nz,https://t.co/R96wnjtBby
https://t.co/FdlzHbBgDg
https://t.co/Aytg2R2DuA
https://t.co/mPPJpdg8wK

https://t.co/FBp3Us1Ndh
https://t.co/7zVVjADP0B

https://t.co/nBjSagzxZ7
https://t.co/i0NniH5RHH
https://t.co/rs0lKpTyTo

https://t.co/1mFCpNtWD3


https://t.co/e26b8aO2dB
https://t.co/2uJQ0h85sX
https://t.co/ea6k3VTRHD
https://t.co/IFo3hqDPsG,https://t.co/W8ZnjdRLrc
https://t.co/Bzb58pmJhk,https://t.co/pbP1eCYS9U
https://t.co/hBGkqNEKRK
https://t.co/t5Pr1LGXvN









https://t.co/9yp0GIQJPy

https://t.co/hdGIdJUQFB
https://t.co/Xgr6UlyBBX
https://t.co/OHAZLDxE8d

https://t.co/Gfcg8MBls9

https://t.co/qaE52rPjGs
https://t.co/XuTXEYPgtC
https://t.co/67cByDxNUG

https://t.co/R0A9qzxsio

https://t.co/9QIhOPftg8
https://t.co/okrhjrxL8c
https://t.co/JplBiIVqNN


https://t.co/bIQLACbued
https://t.co/20ZvFwdVRl
https://t.co/4rh5PSPj3l,https://t.co/50nMIJ5IJ2
https://t.co/pkDCPFDSSR

https://t.co/I95uMfhOFj
https://t.co/BJqPEeEHDa
https://t.co/WeSSKPydiB
https://t.co/bCi4b0NJaq

https://t.co/N5ASc2xabi,https://t.co/llPds8gu2Q
https://t.co/hh4rD00pxS
https://t.co/kWmHmheYlp
https://t.co/2IYlVORj6u
https://t.co/wJjxo40DBT
https://t.co/yGraMNqrp8
https://t.co/UQ5xiRbaZW
https://t.co/Oo3sG5yzIb
https://t.co/f8uP864vWj
https://t.co/1V2Hqseiim
https://t.co/aPttSbIxgU
https://t.co/hTM5Eq5PgT
https://t.co/1TTux6qlAN
https://t.co/ruOhoNWTr7
https://t.co/4cOqeY3yEo,https://t.co/JuUrxggwQZ


https://t.co/VVrW6T3IEr,https://t.co/SXT9WrQXII,https://t.co/4u89VGjMTC
https://t.co/pbKiuTIY7h

https://t.co/lf9oszG4N2
https://t.co/f0JH7F661k
https://t.co/iHRnl6PGBL
https://t.co/sqT2zdnyXO

https://t.co/ATZnAJprTx

https://t.co/PoHj81lqlH

https://t.co/FvVfL4U0Fa
https://t.co/0muC1qeF5V
https://t.co/7e0CKH9KZD
https://t.co/kkWfgniVkC
https://t.co/JFf6deC3CL
https://t.co/INGv3BVzzJ
https://t.co/kMtyK8Xp2Q
https://t.co/fc19QEJh1T
https://t.co/k5BhPBvQ8q
https://t.co/t8KyPbwGu5
https://t.co/3jV8d0nWbv
https://t.co/YuphIHNJLi
https://t.co/A68qgXYX4s
https://t.co/KB2Hja9M3n
https://t.co/Yzps9BNnTk

https://t.co/UsMDvHeCxr


https://t.co/lZROnCIrfe
https://t.co/Gbt6yZwMoM

https://t.co/sWgpfnHrSr
https://t.co/pMztFyVGHs
https://t.co/sFdrlrkuJV




https://t.co/6J9L7wF1mj

https://t.co/FGHZm13t5U
https://t.co/u8sdSdxRbJ


https://t.co/W9MdpKOYNq
https://t.co/Im8PLixm21
https://t.co/GCNq9EVDBs
https://t.co/U4DmMbdVaJ

https://t.co/OoXGXP1KEA,https://t.co/C24LWZqbeF


https://t.co/HrRxnsblF8
https://t.co/Ukglo1MHvd

https://t.co/XyI2I6sVrR
https://t.co/H3YFQ5UO2p

https://t.co/MSXtzf29fD
https://t.co/v2r1NUq9fT


https://t.co/Vr8xKGjGqs
https://t.co/8y5z1zoZEd
https://t.co/PFSomY4py8
https://t.co/Uytmv5rYHx
https://t.co/FgY4wpdauK
https://t.co/nwVgZHQiFO
https://t.co/nwVgZHQiFO

In [21]:
Data1

,time,id,name,tweet,retweets,location,created,followers,is_user_verified,Urls
0,2021-05-03 09:32:46,1389150935792766979,DeepakT29274872,@SonuSood Free Food For \nCorona patients in N...,2,None,03-May-2021,2293,False,https://t.co/kLEfjEnCuc
1,2021-05-03 09:30:54,1389150466303356928,DeepakT29274872,Free Food For \nCorona patients in Noida... ht...,1,None,03-May-2021,2293,False,https://t.co/hh7CSq4dkl
2,2021-05-02 06:06:17,1388736583138889736,sv99999999,üôè\n#Covid19\n#Karnataka\n#Bengaluru \n#coronav...,1,India,02-May-2021,236,False,https://t.co/hRZfxKK2XU
3,2021-04-30 07:00:47,1388025520823042055,Iamsainani,Free food for corona patients in vijayawada \n...,1,Khammam,30-Apr-2021,579,False,https://t.co/uP4KbY2TLP
4,2021-04-28 15:58:33,1387436082208280579,Robojohn11,Ground Report - TamiNadu Govt Hosp's - Food wh...,1,"Chennai, India",28-Apr-2021,234,False,
...,...,...,...,...,...,...,...,...,...,...
265,2021-04-26 02:15:51,1386504264965517316,_rakeshranjan__,Food for Covid patients for free! May try this...,0,None,26-Apr-2021,2,False,https://t.co/PFSomY4py8
266,2021-04-26 00:04:30,1386471211991912448,InvestBooks,#covidmealsforindia \n\nFree Food for Covid pa...,2,India,26-Apr-2021,30485,False,https://t.co/Uytmv5rYHx
267,2021-04-26 14:12:27,1386684602102665222,thecommonman__,Someone has put this google doc with contact i...,50,‡ÆØ‡Ææ‡Æ§‡ØÅ‡ÆÆ‡Øç ‡Æä‡Æ∞‡Øá...‡ÆØ‡Ææ‡Æµ‡Æ∞‡ØÅ‡ÆÆ‡Øç ‡Æï‡Øá‡Æ≥‡Æø‡Æ∞‡Øç,26-Apr-2021,70263,False,https://t.co/FgY4wpdauK
268,2021-04-26 06:21:30,1386566085474807814,nupoorvibhandik,If anybody wants home cooked food (COVID nutri...,2,"Nashik, India",26-Apr-2021,4,False,https://t.co/nwVgZHQiFO
269,2021-04-26 06:21:30,1386566085474807814,nupoorvibhandik,If anybody wants home cooked food (COVID nutri...,2,"Nashik, India",26-Apr-2021,4,False,https://t.co/nwVgZHQiFO

In [22]:
arr=[
"Andaman and Nicobar Islands"
,"Port Blair"
,"Andhra Pradesh"
,"Adoni"
,"Amaravati"
,"Anantapur"
,"Chandragiri"
,"Chittoor"
,"Dowlaiswaram"
,"Eluru"
,"Guntur"
,"Kadapa"
,"Kakinada"
,"Kurnool"
,"Machilipatnam"
,"Nagarjunako·πá·∏ça"
,"Rajahmundry"
,"Srikakulam"
,"Tirupati"
,"Vijayawada"
,"Visakhapatnam"
,"Vizianagaram"
,"Yemmiganur"
,"Arunachal Pradesh"
,"Itanagar"
,"Assam"
,"Dhuburi"
,"Dibrugarh"
,"Dispur"
,"Guwahati"
,"Jorhat"
,"Nagaon"
,"Sibsagar"
,"Silchar"
,"Tezpur"
,"Tinsukia"
,"Bihar"
,"Ara"
,"Baruni"
,"Begusarai"
,"Bettiah"
,"Bhagalpur"
,"Bihar Sharif"
,"Bodh Gaya"
,"Buxar"
,"Chapra"
,"Darbhanga"
,"Dehri"
,"Dinapur Nizamat"
,"Gaya"
,"Hajipur"
,"Jamalpur"
,"Katihar"
,"Madhubani"
,"Motihari"
,"Munger"
,"Muzaffarpur"
,"Patna"
,"Purnia"
,"Pusa"
,"Saharsa"
,"Samastipur"
,"Sasaram"
,"Sitamarhi"
,"Siwan"
,"Chandigarh"
,"Chandigarh"
,"Chhattisgarh"
,"Ambikapur"
,"Bhilai"
,"Bilaspur"
,"Dhamtari"
,"Durg"
,"Jagdalpur"
,"Raipur"
,"Rajnandgaon"
,"Dadra and Nagar Haveli"
,"Silvassa"
,"Daman and Diu"
,"Daman"
,"Diu"
,"Delhi"
,"Delhi"
,"New Delhi"
,"Goa"
,"Madgaon"
,"Panaji"
,"Gujarat"
,"Ahmadabad"
,"Amreli"
,"Bharuch"
,"Bhavnagar"
,"Bhuj"
,"Dwarka"
,"Gandhinagar"
,"Godhra"
,"Jamnagar"
,"Junagadh"
,"Kandla"
,"Khambhat"
,"Kheda"
,"Mahesana"
,"Morvi"
,"Nadiad"
,"Navsari"
,"Okha"
,"Palanpur"
,"Patan"
,"Porbandar"
,"Rajkot"
,"Surat"
,"Surendranagar"
,"Valsad"
,"Veraval"
,"Haryana"
,"Ambala"
,"Bhiwani"
,"Chandigarh"
,"Faridabad"
,"Firozpur Jhirka"
,"Gurgaon"
,"Hansi"
,"Hisar"
,"Jind"
,"Kaithal"
,"Karnal"
,"Kurukshetra"
,"Panipat"
,"Pehowa"
,"Rewari"
,"Rohtak"
,"Sirsa"
,"Sonipat"
,"Himachal Pradesh"
,"Bilaspur"
,"Chamba"
,"Dalhousie"
,"Dharmshala"
,"Hamirpur"
,"Kangra"
,"Kullu"
,"Mandi"
,"Nahan"
,"Shimla"
,"Una"
,"Jammu"
,"Kashmir"
,"Anantnag"
,"Baramula"
,"Doda"
,"Gulmarg"
,"Jammu"
,"Kathua"
,"Punch"
,"Rajauri"
,"Srinagar"
,"Udhampur"
,"Jharkhand"
,"Bokaro"
,"Chaibasa"
,"Deoghar"
,"Dhanbad"
,"Dumka"
,"Giridih"
,"Hazaribag"
,"Jamshedpur"
,"Jharia"
,"Rajmahal"
,"Ranchi"
,"Saraikela"
,"Karnataka"
,"Badami"
,"Ballari"
,"Bangalore"
,"Bangaluru"
,"Bengaluru"
,"Belgavi"
,"Bhadravati"
,"Bidar"
,"Chikkamagaluru"
,"Chitradurga"
,"Davangere"
,"Halebid"
,"Hassan"
,"Hubballi-Dharwad"
,"Kalaburagi"
,"Kolar"
,"Madikeri"
,"Mandya"
,"Mangaluru"
,"Mysuru"
,"Raichur"
,"Shivamogga"
,"Shravanabelagola"
,"Shrirangapattana"
,"Tumkuru"
,"Kerala"
,"Alappuzha"
,"Badagara"
,"Idukki"
,"Kannur"
,"Kochi"
,"Kollam"
,"Kottayam"
,"Kozhikode"
,"Mattancheri"
,"Palakkad"
,"Thalassery"
,"Thiruvananthapuram"
,"Thrissur"
,"Ladakh "
,"Kargil"
,"Leh"
,"Madhya Pradesh"
,"Balaghat"
,"Barwani"
,"Betul"
,"Bharhut"
,"Bhind"
,"Bhojpur"
,"Bhopal"
,"Burhanpur"
,"Chhatarpur"
,"Chhindwara"
,"Damoh"
,"Datia"
,"Dewas"
,"Dhar"
,"Guna"
,"Gwalior"
,"Hoshangabad"
,"Indore"
,"Itarsi"
,"Jabalpur"
,"Jhabua"
,"Khajuraho"
,"Khandwa"
,"Khargon"
,"Maheshwar"
,"Mandla"
,"Mandsaur"
,"Mhow"
,"Morena"
,"Murwara"
,"Narsimhapur"
,"Narsinghgarh"
,"Narwar"
,"Neemuch"
,"Nowgong"
,"Orchha"
,"Panna"
,"Raisen"
,"Rajgarh"
,"Ratlam"
,"Rewa"
,"Sagar"
,"Sarangpur"
,"Satna"
,"Sehore"
,"Seoni"
,"Shahdol"
,"Shajapur"
,"Sheopur"
,"Shivpuri"
,"Ujjain"
,"Vidisha"
,"Maharashtra"
,"Ahmadnagar"
,"Akola"
,"Amravati"
,"Aurangabad"
,"Bhandara"
,"Bhusawal"
,"Bid"
,"Buldana"
,"Chandrapur"
,"Daulatabad"
,"Dhule"
,"Jalgaon"
,"Kalyan"
,"Karli"
,"Kolhapur"
,"Mahabaleshwar"
,"Malegaon"
,"Matheran"
,"Mumbai"
,"Nagpur"
,"Nanded"
,"Nashik"
,"Osmanabad"
,"Pandharpur"
,"Parbhani"
,"Pune"
,"Ratnagiri"
,"Sangli"
,"Satara"
,"Sevagram"
,"Solapur"
,"Thane"
,"Ulhasnagar"
,"Vasai-Virar"
,"Wardha"
,"Yavatmal"
,"Manipur"
,"Imphal"
,"Meghalaya"
,"Cherrapunji"
,"Shillong"
,"Mizoram"
,"Aizawl"
,"Lunglei"
,"Nagaland"
,"Kohima"
,"Mon"
,"Phek"
,"Wokha"
,"Zunheboto"
,"Odisha"
,"Balangir"
,"Baleshwar"
,"Baripada"
,"Bhubaneshwar"
,"Brahmapur"
,"Cuttack"
,"Dhenkanal"
,"Keonjhar"
,"Konark"
,"Koraput"
,"Paradip"
,"Phulabani"
,"Puri"
,"Sambalpur"
,"Udayagiri"
,"Puducherry"
,"Karaikal"
,"Mahe"
,"Puducherry"
,"Yanam"
,"Punjab"
,"Amritsar"
,"Batala"
,"Chandigarh"
,"Faridkot"
,"Firozpur"
,"Gurdaspur"
,"Hoshiarpur"
,"Jalandhar"
,"Kapurthala"
,"Ludhiana"
,"Nabha"
,"Patiala"
,"Rupnagar"
,"Sangrur"
,"Rajasthan"
,"Abu"
,"Ajmer"
,"Alwar"
,"Amer"
,"Barmer"
,"Beawar"
,"Bharatpur"
,"Bhilwara"
,"Bikaner"
,"Bundi"
,"Chittaurgarh"
,"Churu"
,"Dhaulpur"
,"Dungarpur"
,"Ganganagar"
,"Hanumangarh"
,"Jaipur"
,"Jaisalmer"
,"Jalor"
,"Jhalawar"
,"Jhunjhunu"
,"Jodhpur"
,"Kishangarh"
,"Kota"
,"Merta"
,"Nagaur"
,"Nathdwara"
,"Pali"
,"Phalodi"
,"Pushkar"
,"Sawai Madhopur"
,"Shahpura"
,"Sikar"
,"Sirohi"
,"Tonk"
,"Udaipur"
,"Sikkim"
,"Gangtok"
,"Gyalsing"
,"Lachung"
,"Mangan"
,"Tamil Nadu"
,"Arcot"
,"Chengalpattu"
,"Chennai"
,"Chidambaram"
,"Coimbatore"
,"Cuddalore"
,"Dharmapuri"
,"Dindigul"
,"Erode"
,"Kanchipuram"
,"Kanniyakumari"
,"Kodaikanal"
,"Kumbakonam"
,"Madurai"
,"Mamallapuram"
,"Nagappattinam"
,"Nagercoil"
,"Palayankottai"
,"Pudukkottai"
,"Rajapalaiyam"
,"Ramanathapuram"
,"Salem"
,"Thanjavur"
,"Tiruchchirappalli"
,"Tirunelveli"
,"Tiruppur"
,"Tuticorin"
,"Udhagamandalam"
,"Vellore"
,"Telangana"
,"Hyderabad"
,"Karimnagar"
,"Khammam"
,"Mahbubnagar"
,"Nizamabad"
,"Sangareddi"
,"Warangal"
,"Tripura"
,"Agartala"
,"Uttar Pradesh"
,"Agra"
,"Aligarh"
,"Amroha"
,"Ayodhya"
,"Azamgarh"
,"Bahraich"
,"Ballia"
,"Banda"
,"Bara Banki"
,"Bareilly"
,"Basti"
,"Bijnor"
,"Bithur"
,"Budaun"
,"Bulandshahr"
,"Deoria"
,"Etah"
,"Etawah"
,"Faizabad"
,"Farrukhabad"
,"Fatehgarh"
,"Fatehpur"
,"Fatehpur Sikri"
,"Ghaziabad"
,"Ghazipur"
,"Gonda"
,"Gorakhpur"
,"Hamirpur"
,"Hardoi"
,"Hathras"
,"Jalaun"
,"Jaunpur"
,"Jhansi"
,"Kannauj"
,"Kanpur"
,"Lakhimpur"
,"Lalitpur"
,"Lucknow"
,"Mainpuri"
,"Mathura"
,"Meerut"
,"Mirzapur"
,"Vindhyachal"
,"Moradabad"
,"Muzaffarnagar"
,"Partapgarh"
,"Pilibhit"
,"Prayagraj"
,"Rae Bareli"
,"Rampur"
,"Saharanpur"
,"Sambhal"
,"Shahjahanpur"
,"Sitapur"
,"Sultanpur"
,"Tehri"
,"Varanasi"
,"Uttarakhand"
,"Almora"
,"Dehra Dun"
,"Haridwar"
,"Mussoorie"
,"Nainital"
,"Pithoragarh"
,"West Bengal"
,"Alipore"
,"Alipur Duar"
,"Asansol"
,"Baharampur"
,"Bally"
,"Balurghat"
,"Bankura"
,"Baranagar"
,"Barasat"
,"Barrackpore"
,"Basirhat"
,"Bhatpara"
,"Bishnupur"
,"Budge Budge"
,"Burdwan"
,"Chandernagore"
,"Darjiling"
,"Diamond Harbour"
,"Dum Dum"
,"Durgapur"
,"Halisahar"
,"Haora"
,"Hugli"
,"Ingraj Bazar"
,"Jalpaiguri"
,"Kalimpong"
,"Kamarhati"
,"Kanchrapara"
,"Kharagpur"
,"Koch Bihar"
,"Kolkata"
,"Krishnanagar"
,"Malda"
,"Midnapore"
,"Murshidabad"
,"Navadwip"
,"Palashi"
,"Panihati"
,"Purulia"
,"Raiganj"
,"Santipur"
,"Shantiniketan"
,"Shrirampur"
,"Siliguri"
,"Siuri"
,"Tamluk"
]

In [23]:
df['text']=df['text'].apply(cap)
for i in range(0,len(df)):
    if df['named_ents'][i]=="":
        for k in arr:
            if k in df['text'][i]:
                df['named_ents'][i]=k
    elif df['named_ents'][i]!=None:
        for k in arr:
            if k in df['text'][i]and k not in df['named_ents'][i]:
                df['named_ents'][i]+=','+k

In [24]:
df

                                                  text   named_ents
0    Sonusood Free Food For \nCorona Patients In No...        Noida
1    Free Food For \nCorona Patients In Noida... Ht...        Noida
2    \nCovid19\nKarnataka\nBengaluru \nCoronavirus\...    Bengaluru
3    Free Food For Corona Patients In Vijayawada \n...   Vijayawada
4    Ground Report - Taminadu Govt Hosp'S - Food Wh...  Kanyakumari
..                                                 ...          ...
265  Food For Covid Patients For Free May Try This ...
266  Covidmealsforindia \n\nFree Food For Covid Pat...
267  Someone Has Put This Google Doc With Contact I...   Coimbatore
268  If Anybody Wants Home Cooked Food (Covid Nutri...       Nashik
269  If Anybody Wants Home Cooked Food (Covid Nutri...       Nashik

[270 rows x 2 columns]

In [25]:
Data1['tweet_location']=df['named_ents']

In [26]:
import numpy as np
def explode(df, lst_cols, fill_value='', preserve_index=False):
    # make sure `lst_cols` is list-alike
    if (lst_cols is not None
        and len(lst_cols) > 0
        and not isinstance(lst_cols, (list, tuple, np.ndarray, pd.Series))):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)
    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()
    # preserve original index values    
    idx = np.repeat(df.index.values, lens)
    # create "exploded" DF
    res = (pd.DataFrame({
                col:np.repeat(df[col].values, lens)
                for col in idx_cols},
                index=idx)
             .assign(**{col:np.concatenate(df.loc[lens>0, col].values)
                            for col in lst_cols}))
    # append those rows that have empty lists
    if (lens == 0).any():
        # at least one list in cells is empty
        res = (res.append(df.loc[lens==0, idx_cols], sort=False)
                  .fillna(fill_value))
    # revert the original index order
    res = res.sort_index()
    # reset index if requested
    if not preserve_index:        
        res = res.reset_index(drop=True)
    return res

In [27]:
Data1=explode(Data1.assign(tweet_location=Data1.tweet_location.str.split(',')), 'tweet_location')

In [28]:
dictionary={'Bengaluru':'Bangalore','Bangaluru':'Bangalore','Hsr':'Bangalore',
           'District Faridabad':'Faridabad',
           'North Delhi':'Delhi','West Delhi':'Delhi','East Delhi':'Delhi','South Delhi':'Delhi','New Delhi':'Delhi','Old Delhi':'Delhi'}

for i in range(0,len(Data1)):
    for k,v in dictionary.items():
        if Data1['tweet_location'][i]==k:
            Data1['tweet_location'][i]=v

C:\Users\Khushboo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [29]:
Data1

,Urls,created,followers,id,is_user_verified,location,name,retweets,time,tweet,tweet_location
0,https://t.co/kLEfjEnCuc,03-May-2021,2293,1389150935792766979,False,None,DeepakT29274872,2,2021-05-03 09:32:46,@SonuSood Free Food For \nCorona patients in N...,Noida
1,https://t.co/hh7CSq4dkl,03-May-2021,2293,1389150466303356928,False,None,DeepakT29274872,1,2021-05-03 09:30:54,Free Food For \nCorona patients in Noida... ht...,Noida
2,https://t.co/hRZfxKK2XU,02-May-2021,236,1388736583138889736,False,India,sv99999999,1,2021-05-02 06:06:17,üôè\n#Covid19\n#Karnataka\n#Bengaluru \n#coronav...,Bangalore
3,https://t.co/uP4KbY2TLP,30-Apr-2021,579,1388025520823042055,False,Khammam,Iamsainani,1,2021-04-30 07:00:47,Free food for corona patients in vijayawada \n...,Vijayawada
4,,28-Apr-2021,234,1387436082208280579,False,"Chennai, India",Robojohn11,1,2021-04-28 15:58:33,Ground Report - TamiNadu Govt Hosp's - Food wh...,Kanyakumari
...,...,...,...,...,...,...,...,...,...,...,...
293,https://t.co/PFSomY4py8,26-Apr-2021,2,1386504264965517316,False,None,_rakeshranjan__,0,2021-04-26 02:15:51,Food for Covid patients for free! May try this...,
294,https://t.co/Uytmv5rYHx,26-Apr-2021,30485,1386471211991912448,False,India,InvestBooks,2,2021-04-26 00:04:30,#covidmealsforindia \n\nFree Food for Covid pa...,
295,https://t.co/FgY4wpdauK,26-Apr-2021,70263,1386684602102665222,False,‡ÆØ‡Ææ‡Æ§‡ØÅ‡ÆÆ‡Øç ‡Æä‡Æ∞‡Øá...‡ÆØ‡Ææ‡Æµ‡Æ∞‡ØÅ‡ÆÆ‡Øç ‡Æï‡Øá‡Æ≥‡Æø‡Æ∞‡Øç,thecommonman__,50,2021-04-26 14:12:27,Someone has put this google doc with contact i...,Coimbatore
296,https://t.co/nwVgZHQiFO,26-Apr-2021,4,1386566085474807814,False,"Nashik, India",nupoorvibhandik,2,2021-04-26 06:21:30,If anybody wants home cooked food (COVID nutri...,Nashik
297,https://t.co/nwVgZHQiFO,26-Apr-2021,4,1386566085474807814,False,"Nashik, India",nupoorvibhandik,2,2021-04-26 06:21:30,If anybody wants home cooked food (COVID nutri...,Nashik

In [30]:
Data1=Data1[['time','id','name','tweet','retweets','location','created','followers','is_user_verified','Urls','tweet_location']]

In [31]:
Data1

,time,id,name,tweet,retweets,location,created,followers,is_user_verified,Urls,tweet_location
0,2021-05-03 09:32:46,1389150935792766979,DeepakT29274872,@SonuSood Free Food For \nCorona patients in N...,2,None,03-May-2021,2293,False,https://t.co/kLEfjEnCuc,Noida
1,2021-05-03 09:30:54,1389150466303356928,DeepakT29274872,Free Food For \nCorona patients in Noida... ht...,1,None,03-May-2021,2293,False,https://t.co/hh7CSq4dkl,Noida
2,2021-05-02 06:06:17,1388736583138889736,sv99999999,üôè\n#Covid19\n#Karnataka\n#Bengaluru \n#coronav...,1,India,02-May-2021,236,False,https://t.co/hRZfxKK2XU,Bangalore
3,2021-04-30 07:00:47,1388025520823042055,Iamsainani,Free food for corona patients in vijayawada \n...,1,Khammam,30-Apr-2021,579,False,https://t.co/uP4KbY2TLP,Vijayawada
4,2021-04-28 15:58:33,1387436082208280579,Robojohn11,Ground Report - TamiNadu Govt Hosp's - Food wh...,1,"Chennai, India",28-Apr-2021,234,False,,Kanyakumari
...,...,...,...,...,...,...,...,...,...,...,...
293,2021-04-26 02:15:51,1386504264965517316,_rakeshranjan__,Food for Covid patients for free! May try this...,0,None,26-Apr-2021,2,False,https://t.co/PFSomY4py8,
294,2021-04-26 00:04:30,1386471211991912448,InvestBooks,#covidmealsforindia \n\nFree Food for Covid pa...,2,India,26-Apr-2021,30485,False,https://t.co/Uytmv5rYHx,
295,2021-04-26 14:12:27,1386684602102665222,thecommonman__,Someone has put this google doc with contact i...,50,‡ÆØ‡Ææ‡Æ§‡ØÅ‡ÆÆ‡Øç ‡Æä‡Æ∞‡Øá...‡ÆØ‡Ææ‡Æµ‡Æ∞‡ØÅ‡ÆÆ‡Øç ‡Æï‡Øá‡Æ≥‡Æø‡Æ∞‡Øç,26-Apr-2021,70263,False,https://t.co/FgY4wpdauK,Coimbatore
296,2021-04-26 06:21:30,1386566085474807814,nupoorvibhandik,If anybody wants home cooked food (COVID nutri...,2,"Nashik, India",26-Apr-2021,4,False,https://t.co/nwVgZHQiFO,Nashik
297,2021-04-26 06:21:30,1386566085474807814,nupoorvibhandik,If anybody wants home cooked food (COVID nutri...,2,"Nashik, India",26-Apr-2021,4,False,https://t.co/nwVgZHQiFO,Nashik

In [36]:
# export_excel = Data1.to_excel (r'C:\Users\Khushboo\Desktop\Cargill\sample.xlsx', index = None, header=True)

In [37]:
# export_excel = df.to_excel (r'C:\Users\Khushboo\Desktop\Cargill\sample1.xlsx', index = None, header=True)

In [34]:
#creating connection to mysql and creating db
!pip3 install mysql.connector
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='sql129.main-hosting.eu', user='u291509283_cargill',  
                        password='Cargill123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE u291509283_cargill")
        print("Tweet_DB database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Collecting mysql.connector
  Using cached https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz
Installing collected packages: mysql.connector
  Running setup.py install for mysql.connector: started
    Running setup.py install for mysql.connector: finished with status 'done'
Successfully installed mysql.connector

You are using pip version 19.0.3, however version 21.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Error while connecting to MySQL 1007 (HY000): Can't create database 'u291509283_cargill'; database exists

In [35]:
#updation in database
try:
    conn = msql.connect(host='sql129.main-hosting.eu', 
                           database='u291509283_cargill', user='u291509283_cargill', 
                           password='Cargill123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS Tweet_data;')
        print('Creating table....')
        cursor.execute("CREATE TABLE Tweet_data (time DATETIME,user_id BIGINT,name VARCHAR(255), tweet VARCHAR(255) ,retweets INTEGER,location VARCHAR(255),created VARCHAR(255),followers INTEGER,is_user_verified VARCHAR(255),Urls VARCHAR(255), Tweet_location VARCHAR(255))")
        print("Tweet table is created....")
        for i,row in Data1.iterrows():
            sql = "INSERT INTO u291509283_cargill.Tweet_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            
            conn.commit()
        
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('u291509283_cargill',)
Creating table....
Tweet table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [227]:
excel_loc = r'C:\Users\user\Downloads\Food Providers List.xlsx'

In [228]:
excel_data = pd.read_excel(excel_loc, sheet_name='Food Providers across India',header =1)

In [229]:
excel_data

,Sl. No.,Name of the Supplier*,Phone Number*,Location,City*,State,Cost (if any),Added By*,Verified,Notes,Verification to be done by,Comments,Include
0,1.0,Abhinandan,9606107374,Kumaraswamy layout,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Validated and supplies provided,Hema,NaN,Y
1,2.0,Aduggemane,"7892403742, 9916435389",South Bangalore,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,1st Number: Ringing but no one picked,Hema,NaN,N
2,3.0,Aishwarya S + Upendra,9742999549,New thippasandra/Indiranagar/CV Raman nagar,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,2nd Number: Not reachable,Hema,NaN,N
3,4.0,Akhila Varghese,"080-41314586, 7013510980","Whitefield, Hope Farm, Kadugodi, chanasandhra,...",Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Validated and supplies provided,Hema,NaN,Y
4,5.0,Akshay,9964301555,Sahakarnagar,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Validated and supplies provided,Hema,NaN,Y
5,6.0,Amrutha(Amrutha mess),"9945374603, 9916602399",Tavarekere Main road,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,*orders have to be placed 24 hours before,Hema,NaN,Y
6,7.0,Anagha,7899942729,Whitefield,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Not reachable,Hema,NaN,N
7,8.0,Anamika,7760341030,Koramangala,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,She took her vaccines recently and not keeping...,Hema,https://www.gordian.in/ ; Until 4/May,N
8,9.0,Aneesha,8861690548,Doddakanehalli,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Validated and supplies provided,Hema,NaN,Y
9,10.0,Anisha Padhee,9833366152,"Kanakapura Road, Konankunte Cross, Kumaraswamy...",Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Validated and supplies provided,Hema,NaN,Y
10,11.0,Anita Bhageria,9844208983,Rajarajeshwari Nagar,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Currently not providing any supplies,Hema,NaN,N
11,12.0,Anita Gupta,9742721662,"Mico Layout, Arakere Century Pragati",Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Validated(Her cook is not available and can re...,Hema,NaN,N
12,13.0,Anjeanna Agarwal,7619649796,Gubalala Road (Mantri Tranquil),Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,"Also, she prefers to have text/whatsapp consid...",Hema,NaN,Y
13,14.0,Ankit Vengurlekar,8356809393,HSR Layout/Koramangala/BTM Layout,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Currently not providing any supplies,Hema,NaN,N
14,15.0,Ankita Sharma,9900059565,"Kasavanahalli, Haralur Road",Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,Validated and supplies provided - Limited supp...,Hema,NaN,Y
15,16.0,Anushree Agarwal,9663083196,"Jayanagar, Banashankari, JP Nagar",Bangalore,Karnataka,120+Delivery Charges,Aravinda Shenoy,Y,Pre order a day in advance,Vivek,NaN,NaN
16,17.0,Archana Gudi,9845750469,Basavangudi,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
17,18.0,Archana S Katti\nGrahapakam,7676888296\nWA @ 7204904026,Chikkabanavara,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
18,19.0,Arpana Gupta,8867204327,Nandini Layout,Bangalore,Karnataka,NaN,Aravinda Shenoy,N,Didnt pick the call,Vivek,NaN,NaN
19,20.0,Asha Agarwal,9844801461,Sanjay Nagar,Bangalore,Karnataka,Free meals,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
20,21.0,Babita Chamaria,9342417623,Kanakapura Road,Bangalore,Karnataka,Free meals,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
21,22.0,Bhawana Agarwal,9845961681,T Dasarahalli,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
22,23.0,Biplab (Namak Birana Hospitality),9902493415,Roopena Agrahara,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
23,24.0,BREADS,"9980870755, 9901899771, 9448071973","EAST Bangalore (RT Nagar, Sultanpalya, Munired...",Bangalore,Karnataka,NaN,Aravinda Shenoy,N,Didnt pick the call,Vivek,NaN,NaN
24,25.0,Brunda,9900933442,Jayanagar,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
25,26.0,Charan,7892252135,Shanthinagar,Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
26,27.0,Cheran Kumar,7483541562,South Bangalore,Bangalore,Karnataka,NaN,Aravinda Shenoy,N,NaN,Vivek,NaN,NaN
27,28.0,Deepthi,9611362333,"jayanagar, j p nagar, banashankari, kanakapura...",Bangalore,Karnataka,NaN,Aravinda Shenoy,Y,NaN,Vivek,NaN,NaN
28,29.0,Dimple(BLR Brewing),9953763184,"Electronic city, Phase 1 and radius of 7 to 8KM",Bangalore,Karnataka,NaN,Aravinda Shenoy,N,Phone swicthed off,Vivek,NaN,NaN
29,30.0,Eesha Goenka,8618022556 | 9964377609,Kanakapura Road,Bangalore,Karnataka,Free. Only deliver charges.,Aravinda Shenoy,Y,Might not be feasible as someone needs to go a...,Vivek,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,142.0,Girija,7829623555,Vijaynagar/Banashankari-,Bangalore,Karnataka,NaN,Sunil Pareek,Y,can cover 5-8 kms radius from this centre,NaN,NaN,NaN
142,143.0,https://covidmealsforindia.com/,NaN,Bangalore Service Available,Bangalore,Karnataka,NaN,Sunil Pareek,Y,NaN,NaN,NaN,NaN
143,144.0,"Higher Taste (Hare Krishna Hill, ISCON -Bangal...",(91) 96632 44927,NaN,Bangalore,Karnataka,3 Meals at R 325/-,Raji Govindan,Y,(+delivery charges)\n7days/14 days packages av...,Raji,NaN,NaN
144,145.0,Dr. Achyutan Eshwar,(91) 94803 41942,NaN,Bangalore,Karnataka,NaN,Raji Govindan,Y,NaN,Raji,NaN,NaN
145,146.0,Masala Chai,(91) 9448385243,NaN,Bangalore,Karnataka,Free,Raji Govindan,Y,NaN,Raji,NaN,NaN
146,147.0,Piyush -Recipe of Hope,(91) 8088407064,NaN,Bangalore,Karnataka,NaN,NaN,Y,NaN,Raji,NaN,NaN
147,148.0,Harish Kakkad,"8595751899, 9599004380",NaN,Gurgaon,Delhi,Free,Varun Singh,Y,NaN,NaN,NaN,NaN
148,149.0,Daawat (Hotel Tilak),NaN,"197, Obedulla Ganj Rd, Zone-II, Maharana Prata...",Bhopal,Madhya Pradesh,NaN,Hemalatha Shankar,Y,NaN,NaN,NaN,NaN
149,150.0,"Shri Pritish Jindal, Swapnil Garg, \nSawan Mittal","9827233147, 9098998989, 9977403838",Sapna Sangeeta and Nearby area,Indore,Madhya Pradesh,NaN,Hemalatha Shankar,Y,NaN,NaN,NaN,NaN
150,151.0,Narayan Sewa,9770467833,Regal area,Indore,Madhya Pradesh,NaN,Hemalatha Shankar,Y,NaN,NaN,NaN,NaN
151,152.0,Narayan Sewa,9926082884,Rajwada,Indore,Madhya Pradesh,NaN,Hemalatha Shankar,Y,NaN,NaN,NaN,NaN
152,153.0,Narayan Sewa,9165202777,Malwa mill area,Indore,Madhya Pradesh,NaN,Hemalatha Shankar,Y,NaN,NaN,NaN,NaN
153,154.0,Narayan Sewa,8871673269,Dwarkapuri,Indore,Madhya Pradesh,NaN,Hemalatha Shankar,Y,NaN,NaN,NaN,NaN
154,155.0,Meera Purohit,7470571092,"Radio colony, chawni, sapna sangeeta",Indore,Madhya Pradesh,NaN,Hemalatha Shankar,Y,NaN,NaN,NaN,NaN
155,156.0,Laila Antony,9495602628,"Thopumpady, Mundamveli, Mulamkuzhy, Fort Kochi,",Kochi,Kerala,3 Meals at 150/-,Kavya Thachankary,Y,Delivery 30/- extra,Kavya,NaN,Y
156,157.0,Covid Food Aid,"8447615906, 8130326501","Free deliveries within 7 km of sec 67, rest de...",Gurgaon,Haryana,"No charge, voluntary donations",Megha Chandra,"12.20 pm, 29th Apr' 21","Place request before 7 am, need to book orders...",NaN,NaN,NaN
157,158.0,Eco meals,,Gurgaon,Gurgaon,Haryana,"99/plate (delivery, packing charges additional)",Megha Chandra,"2pm, 29th Apr'21","Available through Zomato, Swiggy",NaN,NaN,NaN
158,159.0,Moonshine Food Ventures,"8920926810, 9999144286","Golf course Road & Golf Course Extension Road,...",Gurgaon,Haryana,200/meal (including taxes & delivery),Megha Chandra,NaN,,NaN,NaN,NaN
159,160.0,Samita Halder,96876384489,"Sec 40-62, Gurgaon",Gurgaon,Haryana,Free,Megha Chandra,NaN,,NaN,NaN,NaN
160,161.0,Bikanervala,0124-4337777,Across Gurgaon,Gurgaon,Haryana,100/plate,Megha Chandra,NaN,Available through Zomato & Swiggy too,NaN,NaN,NaN
161,162.0,Kuteera Kitchen\nhttp://www.kuteerakitchen.com/,8105636636,All over Mysore,Mysore,Karnataka,~100 per meal,Vivek Krishnamurthy,Yes,Place order on SMS/whatsapp before 6 AM for br...,Vivek,NaN,NaN
162,163.0,Team Melting Cheese,9490391548/7892524604,Vasanthpura/Kanakpura Road. Delivery within 5K...,Bangalore,Karnataka,150/plate,Vivek Krishnamurthy,Yes,Pre order by calling them,Vivek,NaN,NaN
163,164.0,Rajat Jain/Dhanraj Jain,9686664257,"Rajajinagar, Vijaynagar, Magadi Road - East Ba...",Bangalore,Karnataka,Free. Need to arrange pick up,NaN,Yes,Call or Whatsapp,Vivek,NaN,NaN
164,166.0,Amod,9845014390,North Bangalore,Bangalore,Karnataka,Free. Need to arrange pick up,NaN,Yes,Call or Whatsapp,Vivek,NaN,NaN
165,167.0,Rakesh,9448385243,East Bangalore,Bangalore,Karnataka,Free. Need to arrange pick up,NaN,Yes,Call or Whatsapp,Vivek,NaN,NaN
166,168.0,Matru Bhojana,9743623747/8105888663,"JP Nagar, Mysore and surrounding area",Mysore,Karnataka,NaN,NaN,Yes,Call or Whatsapp,Vivek,NaN,NaN
167,169.0,\nhttps://verifiedcovidleads.com/\n,NaN,Delhi / NCR,Delhi / NCR,Delhi / NCR,NaN,NaN,Yes,Call,Sunil,NaN,NaN
168,170.0,Yum Yum Tiffin,9887777441,Janpath,Jaipur,Rajasthan,Rs. 70 Per Meal,NaN,Y,Call,Sunil,Only Lunch and Dinner within 5 km from Janpath,NaN
169,171.0,Mother tiffin services,6378037477,Gopalpura,Jaipur,Rajasthan,NaN,NaN,N,NaN,NaN,NaN,NaN
170,NaN,Rochas cafe (Stella),9847833177,"Kakkanad area , thrippunithra area",Kochi,Kerala,3 Meals at 150/-,NaN,Y,Delivery included,Kavya,NaN,Y

In [230]:
excel_data['City*']=excel_data['City*'].str.strip().fillna('')
excel_data['Location']=excel_data['Location'].str.strip().fillna('')
excel_data['Verified']=excel_data['Verified'].fillna('N')

In [231]:
db_mapper = pd.DataFrame(columns = ['time','user_id','name','tweet','tweet_location','tweet_type','verified','notes'])

In [232]:
db_mapper

Empty DataFrame
Columns: [time, user_id, name, tweet, tweet_location, tweet_type, verified, notes]
Index: []

In [236]:
import datetime
for index,rows in excel_data.iterrows():
    db_mapper.loc[index,'time']=datetime.datetime.now()
    db_mapper.loc[index,'user_id']=10000 + index
    db_mapper.loc[index,'name']='Cargill_CMT'
    db_mapper.loc[index,'tweet_location']=excel_data.loc[index,'City*']
    db_mapper.loc[index,'tweet_type']='cmt_volunteers'
    db_mapper.loc[index,'verified']=excel_data.loc[index,'Verified']
    db_mapper.loc[index,'notes']=excel_data.loc[index,'Notes']

    
db_mapper['tweet']= 'Name of the Supplier*:' + excel_data['Name of the Supplier*'] +" " + '<br>Phone Number*:' + excel_data['Phone Number*'].astype(str)+ " " + '<br>Location:'+ excel_data['Location'] + " " + '<br>City:'+ excel_data['City*'] + " " + '<br>Verified:'+ excel_data['Verified']   
db_mapper['notes']=db_mapper['notes'].fillna('')
db_mapper['tweet_location']=db_mapper['tweet_location'].fillna('')
db_mapper['verified']=db_mapper['verified'].fillna('')

In [237]:
db_mapper

,time,user_id,name,tweet,tweet_location,tweet_type,verified,notes
0,2021-05-06 00:49:14.464568,10000,Cargill_CMT,Name of the Supplier*:Abhinandan <br>Phone Num...,Bangalore,cmt_volunteers,Y,Validated and supplies provided
1,2021-05-06 00:49:14.471562,10001,Cargill_CMT,Name of the Supplier*:Aduggemane <br>Phone Num...,Bangalore,cmt_volunteers,Y,1st Number: Ringing but no one picked
2,2021-05-06 00:49:14.476562,10002,Cargill_CMT,Name of the Supplier*:Aishwarya S + Upendra <b...,Bangalore,cmt_volunteers,Y,2nd Number: Not reachable
3,2021-05-06 00:49:14.482557,10003,Cargill_CMT,Name of the Supplier*:Akhila Varghese <br>Phon...,Bangalore,cmt_volunteers,Y,Validated and supplies provided
4,2021-05-06 00:49:14.489554,10004,Cargill_CMT,Name of the Supplier*:Akshay <br>Phone Number*...,Bangalore,cmt_volunteers,Y,Validated and supplies provided
5,2021-05-06 00:49:14.494550,10005,Cargill_CMT,Name of the Supplier*:Amrutha(Amrutha mess) <b...,Bangalore,cmt_volunteers,Y,*orders have to be placed 24 hours before
6,2021-05-06 00:49:14.499551,10006,Cargill_CMT,Name of the Supplier*:Anagha <br>Phone Number*...,Bangalore,cmt_volunteers,Y,Not reachable
7,2021-05-06 00:49:14.503546,10007,Cargill_CMT,Name of the Supplier*:Anamika <br>Phone Number...,Bangalore,cmt_volunteers,Y,She took her vaccines recently and not keeping...
8,2021-05-06 00:49:14.507544,10008,Cargill_CMT,Name of the Supplier*:Aneesha <br>Phone Number...,Bangalore,cmt_volunteers,Y,Validated and supplies provided
9,2021-05-06 00:49:14.511545,10009,Cargill_CMT,Name of the Supplier*:Anisha Padhee <br>Phone ...,Bangalore,cmt_volunteers,Y,Validated and supplies provided
10,2021-05-06 00:49:14.515542,10010,Cargill_CMT,Name of the Supplier*:Anita Bhageria <br>Phone...,Bangalore,cmt_volunteers,Y,Currently not providing any supplies
11,2021-05-06 00:49:14.520536,10011,Cargill_CMT,Name of the Supplier*:Anita Gupta <br>Phone Nu...,Bangalore,cmt_volunteers,Y,Validated(Her cook is not available and can re...
12,2021-05-06 00:49:14.527533,10012,Cargill_CMT,Name of the Supplier*:Anjeanna Agarwal <br>Pho...,Bangalore,cmt_volunteers,Y,"Also, she prefers to have text/whatsapp consid..."
13,2021-05-06 00:49:14.532528,10013,Cargill_CMT,Name of the Supplier*:Ankit Vengurlekar <br>Ph...,Bangalore,cmt_volunteers,Y,Currently not providing any supplies
14,2021-05-06 00:49:14.537528,10014,Cargill_CMT,Name of the Supplier*:Ankita Sharma <br>Phone ...,Bangalore,cmt_volunteers,Y,Validated and supplies provided - Limited supp...
15,2021-05-06 00:49:14.546523,10015,Cargill_CMT,Name of the Supplier*:Anushree Agarwal <br>Pho...,Bangalore,cmt_volunteers,Y,Pre order a day in advance
16,2021-05-06 00:49:14.551524,10016,Cargill_CMT,Name of the Supplier*:Archana Gudi <br>Phone N...,Bangalore,cmt_volunteers,Y,
17,2021-05-06 00:49:14.558514,10017,Cargill_CMT,Name of the Supplier*:Archana S Katti\nGrahapa...,Bangalore,cmt_volunteers,Y,
18,2021-05-06 00:49:14.560513,10018,Cargill_CMT,Name of the Supplier*:Arpana Gupta <br>Phone N...,Bangalore,cmt_volunteers,N,Didnt pick the call
19,2021-05-06 00:49:14.563510,10019,Cargill_CMT,Name of the Supplier*:Asha Agarwal <br>Phone N...,Bangalore,cmt_volunteers,Y,
20,2021-05-06 00:49:14.565509,10020,Cargill_CMT,Name of the Supplier*:Babita Chamaria <br>Phon...,Bangalore,cmt_volunteers,Y,
21,2021-05-06 00:49:14.568508,10021,Cargill_CMT,Name of the Supplier*:Bhawana Agarwal <br>Phon...,Bangalore,cmt_volunteers,Y,
22,2021-05-06 00:49:14.573506,10022,Cargill_CMT,Name of the Supplier*:Biplab (Namak Birana Hos...,Bangalore,cmt_volunteers,Y,
23,2021-05-06 00:49:14.576503,10023,Cargill_CMT,Name of the Supplier*:BREADS <br>Phone Number*...,Bangalore,cmt_volunteers,N,Didnt pick the call
24,2021-05-06 00:49:14.579502,10024,Cargill_CMT,Name of the Supplier*:Brunda <br>Phone Number*...,Bangalore,cmt_volunteers,Y,
25,2021-05-06 00:49:14.582501,10025,Cargill_CMT,Name of the Supplier*:Charan <br>Phone Number*...,Bangalore,cmt_volunteers,Y,
26,2021-05-06 00:49:14.584499,10026,Cargill_CMT,Name of the Supplier*:Cheran Kumar <br>Phone N...,Bangalore,cmt_volunteers,N,
27,2021-05-06 00:49:14.587497,10027,Cargill_CMT,Name of the Supplier*:Deepthi <br>Phone Number...,Bangalore,cmt_volunteers,Y,
28,2021-05-06 00:49:14.589496,10028,Cargill_CMT,Name of the Supplier*:Dimple(BLR Brewing) <br>...,Bangalore,cmt_volunteers,N,Phone swicthed off
29,2021-05-06 00:49:14.592496,10029,Cargill_CMT,Name of the Supplier*:Eesha Goenka <br>Phone N...,Bangalore,cmt_volunteers,Y,Might not be feasible as someone needs to go a...
...,...,...,...,...,...,...,...,...
141,2021-05-06 00:49:14.943292,10141,Cargill_CMT,Name of the Supplier*:Girija <br>Phone Number*...,Bangalore,cmt_volunteers,Y,can cover 5-8 kms radius from this centre
142,2021-05-06 00:49:14.946295,10142,Cargill_CMT,Name of the Supplier*:https://covidmealsforind...,Bangalore,cmt_volunteers,Y,
143,2021-05-06 00:49:14.950288,10143,Cargill_CMT,Name of the Supplier*:Higher Taste (Hare Krish...,Bangalore,cmt_volunteers,Y,(+delivery charges)\n7days/14 days packages av...
144,2021-05-06 00:49:14.953310,10144,Cargill_CMT,Name of the Supplier*:Dr. Achyutan Eshwar <br>...,Bangalore,cmt_volunteers,Y,
145,2021-05-06 00:49:14.956286,10145,Cargill_CMT,Name of the Supplier*:Masala Chai <br>Phone Nu...,Bangalore,cmt_volunteers,Y,
146,2021-05-06 00:49:14.959306,10146,Cargill_CMT,Name of the Supplier*:Piyush -Recipe of Hope <...,Bangalore,cmt_volunteers,Y,
147,2021-05-06 00:49:14.961304,10147,Cargill_CMT,Name of the Supplier*:Harish Kakkad <br>Phone...,Gurgaon,cmt_volunteers,Y,
148,2021-05-06 00:49:14.964303,10148,Cargill_CMT,Name of the Supplier*:Daawat (Hotel Tilak) <br...,Bhopal,cmt_volunteers,Y,
149,2021-05-06 00:49:14.966301,10149,Cargill_CMT,"Name of the Supplier*:Shri Pritish Jindal, Swa...",Indore,cmt_volunteers,Y,
150,2021-05-06 00:49:14.969278,10150,Cargill_CMT,Name of the Supplier*:Narayan Sewa <br>Phone N...,Indore,cmt_volunteers,Y,
151,2021-05-06 00:49:14.971277,10151,Cargill_CMT,Name of the Supplier*:Narayan Sewa <br>Phone N...,Indore,cmt_volunteers,Y,
152,2021-05-06 00:49:14.974276,10152,Cargill_CMT,Name of the Supplier*:Narayan Sewa <br>Phone N...,Indore,cmt_volunteers,Y,
153,2021-05-06 00:49:14.976274,10153,Cargill_CMT,Name of the Supplier*:Narayan Sewa <br>Phone N...,Indore,cmt_volunteers,Y,
154,2021-05-06 00:49:14.979272,10154,Cargill_CMT,Name of the Supplier*:Meera Purohit <br>Phone ...,Indore,cmt_volunteers,Y,
155,2021-05-06 00:49:14.981274,10155,Cargill_CMT,Name of the Supplier*:Laila Antony <br>Phone N...,Kochi,cmt_volunteers,Y,Delivery 30/- extra
156,2021-05-06 00:49:14.984272,10156,Cargill_CMT,Name of the Supplier*:Covid Food Aid <br>Phone...,Gurgaon,cmt_volunteers,"12.20 pm, 29th Apr' 21","Place request before 7 am, need to book orders..."
157,2021-05-06 00:49:14.986271,10157,Cargill_CMT,Name of the Supplier*:Eco meals <br>Phone Numb...,Gurgaon,cmt_volunteers,"2pm, 29th Apr'21","Available through Zomato, Swiggy"
158,2021-05-06 00:49:14.989288,10158,Cargill_CMT,Name of the Supplier*:Moonshine Food Ventures ...,Gurgaon,cmt_volunteers,N,
159,2021-05-06 00:49:14.992267,10159,Cargill_CMT,Name of the Supplier*:Samita Halder <br>Phone ...,Gurgaon,cmt_volunteers,N,
160,2021-05-06 00:49:14.994285,10160,Cargill_CMT,Name of the Supplier*:Bikanervala <br>Phone Nu...,Gurgaon,cmt_volunteers,N,Available through Zomato & Swiggy too
161,2021-05-06 00:49:14.997265,10161,Cargill_CMT,Name of the Supplier*:Kuteera Kitchen\nhttp://...,Mysore,cmt_volunteers,Yes,Place order on SMS/whatsapp before 6 AM for br...
162,2021-05-06 00:49:14.999283,10162,Cargill_CMT,Name of the Supplier*:Team Melting Cheese <br>...,Bangalore,cmt_volunteers,Yes,Pre order by calling them
163,2021-05-06 00:49:15.001281,10163,Cargill_CMT,Name of the Supplier*:Rajat Jain/Dhanraj Jain ...,Bangalore,cmt_volunteers,Yes,Call or Whatsapp
164,2021-05-06 00:49:15.004258,10164,Cargill_CMT,Name of the Supplier*:Amod <br>Phone Number*:9...,Bangalore,cmt_volunteers,Yes,Call or Whatsapp
165,2021-05-06 00:49:15.007257,10165,Cargill_CMT,Name of the Supplier*:Rakesh <br>Phone Number*...,Bangalore,cmt_volunteers,Yes,Call or Whatsapp
166,2021-05-06 00:49:15.010277,10166,Cargill_CMT,Name of the Supplier*:Matru Bhojana <br>Phone ...,Mysore,cmt_volunteers,Yes,Call or Whatsapp
167,2021-05-06 00:49:15.012253,10167,Cargill_CMT,Name of the Supplier*:\nhttps://verifiedcovidl...,Delhi / NCR,cmt_volunteers,Yes,Call
168,2021-05-06 00:49:15.015274,10168,Cargill_CMT,Name of the Supplier*:Yum Yum Tiffin <br>Phone...,Jaipur,cmt_volunteers,Y,Call
169,2021-05-06 00:49:15.017255,10169,Cargill_CMT,Name of the Supplier*:Mother tiffin services <...,Jaipur,cmt_volunteers,N,
170,2021-05-06 00:49:15.019272,10170,Cargill_CMT,Name of the Supplier*:Rochas cafe (Stella) <br...,Kochi,cmt_volunteers,Y,Delivery included

In [238]:
!pip install mysql.connector
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='sql129.main-hosting.eu', 
                           database='u291509283_cargill', user='u291509283_cargill', 
                           password='Cargill123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        del_sql = "DELETE FROM `Tweet_data` WHERE name='Cargill_CMT'"
        cursor.execute(del_sql)
        conn.commit()
        print("Delete share-point data")
        for index, row in db_mapper.iterrows():
            sql = "INSERT INTO u291509283_cargill.Tweet_data (time,user_id,name,tweet,tweet_location,tweet_type,verified,notes) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
        
except Error as e:
    print("Error while connecting to MySQL", e)

Collecting mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector
You're connected to database:  ('u291509283_cargill',)
Delete share-point data
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted